# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CS5722\DnDCharacterManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
